<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="column is-10 is-offset-1">
                <mat-card *ngFor="let chat of chats" style="margin-bottom: 15px;">
                    <mat-card-title>
                        <div class="columns">
                            <div class="column is-half">
                                <p *ngIf="!isUsername(chat.username)"> {{chat.username}}</p>
                                <p *ngIf="!isUsername(chat.fromUsername)">{{chat.fromUsername}}</p>
                            </div>
                            <div class="column is-half">
                                <a (click)="openChat(chat.id)">
                                    <mat-icon class="is-size-1">message</mat-icon>
                                </a>
                            </div>
                        </div>
                    </mat-card-title>
                </mat-card>

            </div>
        </div>
    </div>
</section>