<section class="hero is-small">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-6 is-offset-3">

                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>New password</mat-label>
                                <input type="password" matInput placeholder="new password" [(ngModel)]="newPassword"
                                    [formControl]="newPasswordForm" required>

                                <mat-error *ngIf="newPasswordForm.invalid">{{getEmptyFieldErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Confirm password</mat-label>
                                <input type="password" matInput placeholder="confirmPassword"
                                    [(ngModel)]="confirmNewPassword" [formControl]="confirmPasswordForm" required>

                                <mat-error *ngIf="confirmPasswordForm.invalid">{{getConfirmPasswordErrorMessage()}}
                                </mat-error>
                            </mat-form-field>

                            <div style="text-align: center;">
                                <button mat-raised-button color="primary" (click)="recoverPassword()"
                                    [disabled]="newPasswordForm.invalid || confirmPasswordForm.invalid">
                                    Change password
                                </button>
                            </div>
                        </mat-card-content>
                        <br>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>
