<section class="hero is-small">
    <div class="hero-body">
        <div class="container">
            <div class="column is-10 is-offset-4 has-text-centered">
                <div class="field has-addons">
                    <div class="control">
                        <input class="input" type="text" placeholder="Find profiles" [(ngModel)]="this.searchParam">
                    </div>
                    <div class="control">
                        <a class="button is-info" (click)="search()">
                            Search
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="column is-10 is-offset-1">
                <mat-error *ngIf="users == null || users.length == 0">There is no users for that search param
                </mat-error>

                <mat-card *ngFor="let user of users" style="margin-bottom: 15px;">
                    <mat-card-title class="has-text-centered">
                        <div class="columns">
                            <div class="column">
                                {{user.name}} {{user.surname}}
                            </div>
                            <div class="column is-2">
                                <a (click)="newConnection(user)"><mat-icon color = "accent" class="is-size-1" *ngIf="this.authService.getRole() === 'USER' && !user.isConnected && !user.pendingConnection">person_add</mat-icon></a>
                                <a (click)="deleteConnection(user)"><mat-icon color = "warn" class="is-size-1" *ngIf="this.authService.getRole() === 'USER' && user.isConnected">close</mat-icon></a>
                                <a (click)="rejectConnection(user)"><mat-icon class="is-size-1" *ngIf="this.authService.getRole() === 'USER' && !user.isConnected && user.pendingConnection">sync_disabled</mat-icon></a>
                            </div>
                            <div class="column is-2">
                            <a (click)="openProfile(user)"><mat-icon color = "accent" class="is-size-1">account_circle</mat-icon></a>
                        </div>
                        </div>

                    </mat-card-title>
                    <mat-card-content>
                        <div class="columns">
                            <div class="column is-half">
                                <p>Username: {{user.username}}</p>
                                <br>
                                <p>Birth date: {{user.birthDate| date:"dd.MM.yyyy"}}</p>
                                <br>
                                <p>Email: {{user.email}}</p>

                            </div>
                            <div class="column is-half">
                                <p class="cut-text1">Bio: {{user.bio}} </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

            </div>
        </div>
    </div>
</section>