<section class="hero is-small">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-6 is-offset-3">

                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Name</mat-label>
                                <input type="text" matInput placeholder="name" [(ngModel)]="user.name"
                                    [formControl]="nameForm" required>

                                <mat-error *ngIf="nameForm.invalid">{{getnameErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Surname</mat-label>
                                <input type="text" matInput placeholder="surname" [(ngModel)]="user.surname"
                                    [formControl]="surnameForm" required>

                                <mat-error *ngIf="surnameForm.invalid">{{getsurnameErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Email</mat-label>
                                <input type="text" matInput placeholder="email" [(ngModel)]="user.email"
                                    [formControl]="emailForm" required>

                                <mat-error *ngIf="emailForm.invalid">{{getEmailErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-label classid="example-radio-group-label">Gender</mat-label>
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                                [(ngModel)]="user.gender">
                                <mat-radio-button class="example-radio-button" [value]="0">
                                    Male
                                </mat-radio-button>
                                <mat-radio-button class="example-radio-button" [value]="1">
                                    Female
                                </mat-radio-button>
                            </mat-radio-group>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Choose a date</mat-label>
                                <input matInput [matDatepicker]="picker" [(ngModel)]="user.birthDate" [max]="maxDate" [formControl]="dateForm">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="dateForm.invalid">{{getDateErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Phone</mat-label>
                                <input type="text" matInput placeholder="phoneNumber" [(ngModel)]="user.phoneNumber"
                                    [formControl]="phoneForm">

                                <mat-error *ngIf="phoneForm.invalid">{{getPhoneErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Bio</mat-label>
                                <textarea matInput placeholder="bio" [(ngModel)]="user.bio"
                                   ></textarea>

                            </mat-form-field>

                            <div style="text-align: center;">
                                <button mat-raised-button color="primary" (click)="edit()"
                                    [disabled]="
                                    phoneForm.invalid
                                    || dateForm.invalid
                                    || emailForm.invalid
                                    || surnameForm.invalid
                                    || nameForm.invalid">
                                    Edit
                                </button>
                            </div>
                        </mat-card-content>
                        <br>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>

<section class="hero is-small">
    <div class="hero-body">
        <div class="container ">
            <div class="column is-6 is-offset-3">

                <mat-card class="example-card">
                    <div style="margin-left: 15%; margin-right: 15%;">
                        <br>
                        <mat-card-content style="margin-left: 1%; margin-right: 1%;">
                            <br>
                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>New password</mat-label>
                                <input type="password" matInput placeholder="name" [(ngModel)]="newPassword"
                                    [formControl]="newPasswordForm" required>

                                <mat-error *ngIf="newPasswordForm.invalid">{{getnameErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="legacy" style="width: 100%;">
                                <mat-label>Old password</mat-label>
                                <input type="password" matInput placeholder="surname" [(ngModel)]="oldPassword"
                                    [formControl]="oldPasswordForm" required>

                                <mat-error *ngIf="oldPasswordForm.invalid">{{getsurnameErrorMessage()}}</mat-error>
                            </mat-form-field>

                            <div style="text-align: center;">
                                <button mat-raised-button color="primary" (click)="editPassword()"
                                    [disabled]="newPasswordForm.invalid || oldPasswordForm.invalid">
                                    Change password
                                </button>
                            </div>
                        </mat-card-content>
                        <br>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>
<div style="text-align: center; display: flex; flex-direction: column;">
    <h1 style="font-weight: bold; font-size: 2rem;">Experiences:</h1>
    <mat-card *ngFor="let exp of this.experiences" 
    style="margin-top: 1rem; margin-left: 25%; margin-right: 25%; margin-bottom: 1rem;">
        <mat-card-title>{{exp.name}}</mat-card-title>
        <mat-card-subtitle>{{exp.title}}</mat-card-subtitle>
        <mat-card-content>
            <p>{{exp.startDate}} - {{exp.endDate}}</p>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <mat-card style="margin-top: 1rem; margin-left: 25%; margin-right: 25%; margin-bottom: 1rem;">
        <div style="display: flex; flex-direction: column;">
            <mat-form-field appearance="fill">
                <mat-label>Place:</mat-label>
                <input matInput [(ngModel)]="newExperience.name"
                [formControl]="experiencePlace" required>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Title:</mat-label>
                <input matInput [(ngModel)]="newExperience.title"
                [formControl]="experienceTitle">
            </mat-form-field>
        </div>
        <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Choose start date:</mat-label>
            <input matInput [matDatepicker]="start" [(ngModel)]="newExperience.startDate" [formControl]="experienceStartDate">
            <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
            <mat-datepicker #start></mat-datepicker>
            <mat-error *ngIf="dateForm.invalid">{{getDateErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" style="width: 100%;">
            <mat-label>Choose end date:</mat-label>
            <input matInput [matDatepicker]="end" [(ngModel)]="newExperience.endDate" [formControl]="experienceEndDate">
            <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
            <mat-datepicker #end></mat-datepicker>
            <mat-error *ngIf="dateForm.invalid">{{getDateErrorMessage()}}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addNewExperience()"
                                        [disabled]="
                                        experiencePlace.invalid
                                        || experienceTitle.invalid
                                        || experienceStartDate.invalid
                                        || experienceEndDate.invalid">
                                        Add new
        </button>
    </mat-card>
</div>
