<nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <span class="navbar-item">

            <div class="field has-addons">
                <div class="control">
                    <input class="input" type="text" placeholder="Find profiles">
                </div>
                <div class="control">
                    <a class="button is-info">
                        Search
                    </a>
                </div>
            </div>
        </span>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample"
            (click)="toggleNavbar()" #navBurger>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
        <div class="navbar-start">

            <!--  https://bulma.io/documentation/components/navbar/#basic-navbar  -->
            
        </div>
    </div>
</nav>