<div class="column is-2 is-offset-5">
    <a (click)="newConnection()">
        <mat-icon color="accent" class="is-size-1 mr-5"
            *ngIf="this.authService.getRole() === 'USER' && !connection.isConnected && !connection.pendingConnection">
            person_add</mat-icon>
    </a>
    <a (click)="deleteConnection()">
        <mat-icon color="warn" class="is-size-1 mr-5"
            *ngIf="this.authService.getRole() === 'USER' && connection.isConnected">close
        </mat-icon>
    </a>
    <a (click)="rejectConnection()">
        <mat-icon class="is-size-1 mr-5"
            *ngIf="this.authService.getRole() === 'USER' && !connection.isConnected && connection.pendingConnection">
            sync_disabled</mat-icon>
    </a>
    <a (click)="block()">
        <mat-icon class="is-size-1 mr-5" *ngIf="this.authService.getRole() === 'USER'">block
        </mat-icon>
    </a>
</div>
<div class="column is-10 is-offset-1" *ngIf="connection.isConnected">
    <div class="has-text-centered">
        <mat-label>&nbsp;&nbsp;Message notification &nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
        <mat-label>Disabled &nbsp;&nbsp;</mat-label>
        <mat-slide-toggle [checked]="connection.isMessageNotificationEnabled" (click)="changeMessageNotification()"></mat-slide-toggle>
        <mat-label>&nbsp;&nbsp; Enabled</mat-label>
    </div>
    <div class="has-text-centered">
        <mat-label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Post notification &nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
        <mat-label>Disabled &nbsp;&nbsp;</mat-label>
        <mat-slide-toggle [checked]="connection.isPostNotificationEnabled" (click)="changePostNotification()"></mat-slide-toggle>
        <mat-label>&nbsp;&nbsp; Enabled</mat-label>
    </div>
    <div class="has-text-centered">
        <mat-label>Comment notification &nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
        <mat-label>Disabled &nbsp;&nbsp;</mat-label>
        <mat-slide-toggle [checked]="connection.isCommentNotificationEnabled" (click)="changeCommentNotification()"></mat-slide-toggle>
        <mat-label>&nbsp;&nbsp; Enabled</mat-label>
    </div>
</div>
<section class="hero is-medium">
    <div class="hero-body">
        <div class="container">
            <div class="column is-10 is-offset-1">
                <mat-card style="margin-bottom: 15px;">
                    <mat-card-title class="has-text-centered">
                        <div class="columns">
                            <div class="column">
                                {{user.name}} {{user.surname}}
                            </div>
                        </div>

                    </mat-card-title>
                    <mat-card-content>
                        <div class="columns">
                            <div class="column is-half">
                                <p>Username: {{user.username}}</p>
                                <br>
                                <p>Birth date: {{user.birthDate| date:"dd.MM.yyyy"}}</p>
                                <br>
                                <p>Email: {{user.email}}</p>

                            </div>
                            <div class="column is-half">
                                <p class="cut-text1">Bio: {{user.bio}} </p>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <app-post *ngFor="let post of posts" style="margin-bottom: 15px; background-color: '#48C78E';"  [user]="user" [post]="post"
                (likesEvent)="openLikesDialog($event)" (dislikesEvent)="openDislikesDialog($event)" (commentsEvent)="openCommentsDialog($event)">
                </app-post>

            </div>
        </div>
    </div>
</section>
